/* conditional rendering */

/* .welcome-message {
  background-color: hsl(120, 100%, 42%);
  font-size: 2.5rem;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt {
  background-color: hsl(120, 100%, 42%);
  font-size: 2.5rem;
  color: rgb(152, 6, 6);
  padding: 10px;
  border-radius: 5px;
  margin: 0;
} */


/* This is render list */